@font-face {
  font-family: 'iconfont';
  /* Project id 1560982 */
  src: url('//at.alicdn.com/t/font_1560982_r12wlnkg09.eot?t=1640330025668');
  /* IE9 */
  src: url('//at.alicdn.com/t/font_1560982_r12wlnkg09.eot?t=1640330025668#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('//at.alicdn.com/t/font_1560982_r12wlnkg09.woff2?t=1640330025668') format('woff2'),
    url('//at.alicdn.com/t/font_1560982_r12wlnkg09.woff?t=1640330025668') format('woff'),
    url('//at.alicdn.com/t/font_1560982_r12wlnkg09.ttf?t=1640330025668') format('truetype'),
    url('//at.alicdn.com/t/font_1560982_r12wlnkg09.svg?t=1640330025668#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
