@font-face {
  font-family: 'iconfont';
  /* Project id 1560982 */
  src: url('//at.alicdn.com/t/font_1560982_b9qwqjz7npv.eot?t=1640166512235');
  /* IE9 */
  src: url('//at.alicdn.com/t/font_1560982_b9qwqjz7npv.eot?t=1640166512235#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('//at.alicdn.com/t/font_1560982_b9qwqjz7npv.woff2?t=1640166512235') format('woff2'),
    url('//at.alicdn.com/t/font_1560982_b9qwqjz7npv.woff?t=1640166512235') format('woff'),
    url('//at.alicdn.com/t/font_1560982_b9qwqjz7npv.ttf?t=1640166512235') format('truetype'),
    url('//at.alicdn.com/t/font_1560982_b9qwqjz7npv.svg?t=1640166512235#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
